<footer>
    <div id="footer-1">
        <div id="part1">
            <img src="/assessts/medium.png" alt="medium icon img"/>
            <h2>Medium</h2>
        </div>

        <div id="part2">
            <div>
                <a href="/about">About us</a>
                <a href="/blogs">Blog</a>
                <a href="/contact">Contact Us</a>
            </div>

            <span style="margin-right: 12.8vw;"><a href="#">Follow us</a></span>

            <div class="img">
                <img src="/assessts/facebook.png" alt="insta">
                <img src="/assessts/instagram.png" alt="facebook">
                <img src="/assessts/youtube.png" alt="Youtube">
            </div>
        </div>

        <div id="part3">
            <h2>Discover Topics of Your Choice <br> From All over the world</h2>
            <p>Join our community and share your idea with everyone</p>
            <form action="">
                <input type="text" name="email" id="email" placeholder="Enter Your Email Address">
                <button>Get Updates</button>
            </form>
        </div>
    </div>

    <div id="footer-2">
        <span>&copy; 2024 Medium By Yash Tyagi . All rights Reserved</span>
        <span><a href="#">Privacy Policy</a></span>
        <span><a href="/about">About us</a></span>
    </div>
</footer>