<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/privacy.css">
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <main class="privacy-container">
        <h1>Privacy Policy</h1>
        <section>
            <h2>Introduction</h2>
            <p>Welcome to our blogging website. We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about our policy, or our practices with regards to your personal information, please contact us.</p>
        </section>
        <section>
            <h2>Information We Collect</h2>
            <p>We collect personal information that you voluntarily provide to us when you register on the website, express an interest in obtaining information about us or our products and services, when you participate in activities on the website, or otherwise when you contact us.</p>
        </section>
        <section>
            <h2>How We Use Your Information</h2>
            <p>We use personal information collected via our website for a variety of business purposes described below. We process your personal information for these purposes in reliance on our legitimate business interests, in order to enter into or perform a contract with you, with your consent, and/or for compliance with our legal obligations.</p>
        </section>
        <section>
            <h2>Sharing Your Information</h2>
            <p>We only share information with your consent, to comply with laws, to provide you with services, to protect your rights, or to fulfill business obligations.</p>
        </section>
        <section>
            <h2>Contact Us</h2>
            <p>If you have questions or comments about this policy, you may contact us at: support@blogwebsite.com</p>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
    <script src="https://kit.fontawesome.com/a84a69e726.js" crossorigin="anonymous"></script>
</body>
</html>
