/* Reset some basic elements for better cross-browser consistency */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main {
    font-family: 'Arial', sans-serif;
    /* background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.register-form h2 {
    margin-bottom: 20px;
    color: #111;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
    position: relative;
    overflow: hidden;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #111;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 0.5s forwards;
}

main input[type="text"],
main input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 1rem;
    transition: all 0.3s ease;
}

main input[type="text"]:focus,
main input[type="password"]:focus {
    border-color: #111;
    box-shadow: 0 0 8px rgba(255, 95, 109, 0.5);
    outline: none;
}

.register-btn {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;
    margin-top: 20px;
}

.register-btn:hover {
    background-color: #d73c4c;
    transform: translateY(-3px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

footer{
    margin-top: 0;
}